body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(232, 8, 8);
  background: linear-gradient(
    45deg,
    rgba(232, 8, 8, 1) 0%,
    rgba(151, 7, 7, 1) 33%,
    rgba(0, 91, 255, 1) 93%
  );
}
.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container {
  margin: 0;
  position: relative;
  width: 600px;
  height: 400px;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image {
  border-radius: 1rem;
  user-select: none;
}
.slide {
  position: absolute;
}

.prev,
.next {
  position: absolute;
  top: 45%;
  margin-top: -20px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  cursor: pointer;
  user-select: none;
  font-weight: lighter;
  padding: 1rem;
  border-radius: 5px;
  width: auto;
}

.prev:hover,
.next:hover {
  transition-duration: 2s;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.prev {
  left: 0px;
  /* color: blue; */
}

.next {
  right: 0px;
  /* color: red; */
}

.animate-left {
  animation-name: left;
  animation-duration: 1.5s;
}

@keyframes left {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.animate-right {
  animation-name: right;
  animation-duration: 1.5s;
}

@keyframes right {
  from {
    right: 100%;
  }
  to {
    right: 0%;
  }
}
