body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container {
  margin: 0;
  position: relative;
  width: 600px;
  height: 400px;
  border-radius: 1rem;
  overflow: hidden;
}

.image {
  border-radius: 1rem;
}
.slide {
  position: absolute;
}

.prev,
.next {
  position: absolute;
  top: 0;
  margin-top: -20px;
  padding: 30% 1rem;
  color: grey;
  font-size: 3rem;
  cursor: pointer;
  user-select: none;
  font-weight: lighter;
  width: auto;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.animate-left {
  animation-name: left;
  animation-duration: 1.5s;
}

@keyframes left {
  from {
    left: 100%;
    width: 0%;
  }
  to {
    left: 0%;
    width: 100%;
  }
}

.animate-right {
  animation-name: right;
  animation-duration: 1.5s;
}

@keyframes right {
  from {
    right: 100%;
  }
  to {
    right: 0%;
  }
}
